
.gap {
    margin-top: 20px;
}

.all {
    /*background-color: white;*/
    background-color: #E0FFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    margin-left: 464px;
    margin-right: 464px;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    padding-top: 35px;
    padding-bottom: 60px;
}

.img_border {
    border-style: solid;
    width: 506px;
    height: 506px;
    margin-right: 50px;
}

.img_border2 {
    border-style: solid;
    width: 100px;
    height: 100px;
}

.product_section:last-child {
    width: 355px;
}


.text {
    font: normal normal normal 26px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    line-height: 1.4em;
    text-decoration: none;
    color: #575757;
    text-align: left;
}

.second_column {
    margin-top: auto;
    margin-right: 250px;
}

.price {
    text-align: left;
    color: #575757;
    font: normal normal normal 20px/normal avenir-lt-w01_35-light1475496, sans-serif;
    display: inline-block;
}

.count {
    margin-bottom: 8px;
    display: block;
}

.number {
    display: inline-block;
    position: relative;
    width: 5.45em;
}

.button {
    margin-top: 20px;
    display: block;
    font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    width: 100%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-radius: 0px;
    padding: 8px 2px;
    position: relative;
    cursor: pointer;
    display: block;
    border-style: solid;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    min-width: 100px;
    border-style: solid;
    box-sizing: content-box;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
}

.p {
    margin-top: 30px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    line-height: 1.4em;
    text-decoration: none;
    color: #000000;
    border-width: 0;
}

.span {
    line-height: 1.5;
    display: block;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.two_sections {
    display: flex;
    justify-content: space-between;
}

/* #gallery {
    list-style-type:none;
    background-color: #f0f0f0;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#gallery li {
    background-color: #fff;
    float: left;
    argin: 5px;
    padding: 1px;
}

#gallery li img {
    width: 120px;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border-style: solid;
} */

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding-right: 24px;
    padding-top: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: static;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
