{% extends 'base.html' %}
{% load static %}
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'core/css/style_bucket.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style_support.css' %}">
{% endblock %}
{% block main %}
    <main>
        <div class="main-container">
            <section class="main_img">
                <div class="main_span">
                    Моя корзина
                </div>
            </section>
            <section class="main_check">
                <div class="product_list">
                    <div class="product_list__product">
                        <div class="product_list__product__photo">
                            <img src="{% static 'core/img/headphone.jpg'%}" width="100" height="100">
                        </div>
                        <div class="product_list__product__name">
                            headphones
                        </div>
                        <div class="product_list__product__price">
                            цена: 25000
                        </div>
                        <div class="product_list__product__count">
                            <button>-</button>
                            <input size="1" value="1"/>
                            <button>+</button>
                        </div>
                        <div class="product_list__product__total_price">
                            итого: 25000
                        </div>
                        <div class="delete_button">
                            <button>
                                <svg fill="currentColor" width="12" height="12">
                                    <path d="M11.077 0L12 .923 6.923 6 12 11.077l-.923.923L6 6.923.923 12 0 11.077 5.076 6 0 .923.923 0 6 5.077 11.077 0z"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="product_list__product">
                        <div class="product_list__product__photo">
                            <img src="{% static 'core/img/headphone.jpg'%}" width="100" height="100">
                        </div>
                        <div class="product_list__product__name">
                            notebook
                        </div>
                        <div class="product_list__product__price">
                            цена: 25000
                        </div>
                        <div class="product_list__product__count">
                            <button>-</button>
                            <input size="1" value="1"/>
                            <button>+</button>
                        </div>
                        <div class="product_list__product__total_price">
                            итого: 25000
                        </div>
                        <div class="delete_button">
                            <button>
                                <svg fill="currentColor" width="12" height="12">
                                    <path d="M11.077 0L12 .923 6.923 6 12 11.077l-.923.923L6 6.923.923 12 0 11.077 5.076 6 0 .923.923 0 6 5.077 11.077 0z"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="total_result">
                    <div class="total_result__title">
                        Результат заказа
                    </div>
                    <div class="total_result__sum">
                        сумма: 25000
                    </div>
                    <div class="total_result__sum">
                        доставка: бесплатно
                    </div>
                    <div class="total_result__sum">
                        Россия, Татарстан
                    </div>
                    <div class="pay_button_">
                        <button class="pay_button" type="submit">Оплатить</button>
                    </div>
                </div>

            </section>
        </div>
    </main>
{% endblock %}