{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block css_styles %}
    {#    <link rel="stylesheet" href="{% static 'core/css/style_bucket.css' %}">#}
    <link rel="stylesheet" href="{% static 'core/css/style_support.css' %}">
{% endblock %}
{% block main %}
    <main>
        <div class="main-container">
            <section class="main_img">
                <div class="main_span">
                    Мой заказ
                </div>
            </section>
            <section class="main_check">
                <div class="product_list">
                    {% for product in products %}
                        <div class="product_list__product" id="0">
                            <div class="product_list__product__photo">
                                <img src="{% static 'core/img/headphone.jpg' %}" width="100" height="100">
                            </div>
                            <div class="product_list__product__name">
                                {{ product.product.name }}
                            </div>
                            <div class="product_list__product__price" data-price="0">
                                Цена: {{ product.product.price|price }}
                            </div>
                            <div class="product_list__product__count">
                                Кол-во: {{ product.amount }}
                            </div>
                            <div class="product_list__product__total_price">
                                Итого: {{ product.total }}
                            </div>

                        </div>
                    {% endfor %}
                </div>
                <div class="total_result">
                    <div class="total_result__title">
                        Результат заказа
                    </div>
                    <div class="total_result__sum">
                        сумма: {{ total_sum }}
                    </div>
                    <div class="total_result__sum">
                        доставка: бесплатно
                    </div>
                    <div class="total_result__sum">
                        Россия, Татарстан
                    </div>
                    {% if order_id %}
                        <div class="pay_button_">
                            <form class="login-form" action="{% url 'core-order' id=order_id %}" method="post">
                                {% csrf_token %}
                                <p>{{ errors }}</p>
                                {{ form.as_p }}
                                <button class="pay_button" type="submit">Отменить</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="pay_button_">
                            <p class="non_pay_button">Заказ отменен</p>
                        </div>
                    {% endif %}
                </div>

            </section>
        </div>
    </main>

{% endblock %}
{% block js_scripts %}
    {#    <script type="text/javascript" src="{% static 'core/js/basket.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'core/js/search.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/style_bucket.css' %}">

{% endblock %}
