{% extends 'base.html' %}
{% block main  %}
    <div class="login" style="text-align: center; background-color: white;">
        <h1 class="heading">Придумайте новый пароль</h1>
        <form class="login-form" method="post">
            {% csrf_token %}
            <p>{{ errors}}</p>
            {{form.as_p}}
        <input type="submit" value="OK">
        </form>
        {% block password_reset %}
            <p><a style="color: #E278DB;" href="{% url 'core-login' %}">Войти</a></p>
        {% endblock %}
    </div>
{% endblock %}