{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block css_styles %}
{% endblock %}

{% block main %}
    <main>
        <div class="gap">
        </div>
        <div class="all">
            <div class="content">
                <div class="title">
                    <a style="color: #E278DB;" href="{% url 'core-index' %}">Главная</a>
                    /
                    <a>Компьютер</a><br>
                </div>
                <div class="two_sections">
                    <section class="example3">
                        <img src="{% static 'core/img/example.jpg' %}" class="img_border"></img>
                        <p class="p">{{ product.description }}</p>
                    </section>
                    <section class="example3">
                        <div class="second_column">
                            <h1 class="text">{{ product.name }}</h1>
                            <span class="price">{{ product.price|price }} ₽</span><br><br>
                            <form>
                                {% if user.is_authenticated %}
                                    <label class="count">Количество</label>
                                    <input type="number" pattern="[0-9]*" value="1" aria-label="Количество" max="99999"
                                           min="1" class="number">
                                    <button class="button">
                                        <span class="span">В корзину</span>
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}