{% extends 'base.html' %}
{% block main  %}
    <div class="login" style="text-align: center; background-color: white;">
        <h1 class="heading">Зарегистрироваться</h1>
        <form class="login-form" action="{% url 'core-register' %}" method="post">
            {% csrf_token %}
            <p>{{ errors}}</p>
            {{form.as_p}}
        <input type="submit" value="OK">
        </form>
         <p>Уже есть аккаунт? <a href="{% url 'core-login' %}">Войти</a></p>
    </div>
{% endblock %}